<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.handy.support.mapper.iMapper.IFavorMapper" >
    <select id="isLiked" resultType="Integer">
        SELECT 1
        FROM `favor` l
        WHERE user_id=#{userId} AND course_id=#{courseId} limit 1;
    </select>

    <delete id="deleteOne">
        delete from `favor`
        WHERE user_id=#{userId} AND course_id=#{courseId};
    </delete>

</mapper>