<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.handy.support.mapper.customMapper.MyUsersCoursesMapper">
    <resultMap id="UsersCoursesBriefMap" type="com.handy.support.pojo.UserCourse.dto.UserCourseBrief">
        <association property="course"  resultMap="com.handy.support.mapper.CourseMapper.BaseResultMap"/>
        <association property="user" resultMap="com.handy.support.mapper.UserMapper.BaseResultMap"/>
    </resultMap>
    <select id="getUsersCoursesBrief" resultMap="UsersCoursesBriefMap">
        select u.user_id,u.nick_name,u.user_pic,c.update_time,c.course_cover,c.course_id,c.course_title,c.diy_label,c.level_id
        from user u
        inner join course c
        where u.user_id=c.user_id and id in <foreach collection="users" open="(" close=")" separator=","
    item="id" index="i">
        #{id}
    </foreach> order by c.update_time desc  limit #{startRow},#{size}
    </select>
</mapper>