# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
*.iml

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*


pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# Android
APP/HANDY/.idea/*
APP/HANDY/.gradle/*

Background/HandyBack/.idea/*
Background/HandyBack/target/*
Background/HandyBack/out/*
Background/HandyBack/HandyBack.iml
APP/HANDY/local.properties
Background/HandyBack/src/main/resources/properties/jdbc.properties

