<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.handy.support.mapper.CourseStepMapper">
    <resultMap id="BaseResultMap" type="com.handy.support.entity.CourseStep">
        <constructor>
            <arg column="course_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
            <arg column="step_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
        </constructor>
    </resultMap>


<!--根据course_id查找step list-->
<select id="listByCourseId" resultType="com.handy.support.entity.Step">
    SELECT
    s.step_id AS stepId,
    step_tag AS stepTag,
    step_img AS stepImg,
    step_detail AS stepDetail
    FROM
    course_step course
    LEFT JOIN step s ON course.step_id = s.step_id
    <where>
        1=1
        <if test="courseId != null">
            course_id=#{courseId}
        </if>
    </where>
</select>

</mapper>