<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.handy.support.mapper.CourseLabelMapper">
    <resultMap id="BaseResultMap" type="com.handy.support.entity.CourseLabel">
        <constructor>
            <arg column="course_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
            <arg column="label_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
        </constructor>
    </resultMap>

    <!--根据course_id查找label list-->
    <select id="listByCourseId" resultType="com.handy.support.entity.Label">
        SELECT
        l.label_id AS labelId,
        label_name AS labelName,
        flabel_id AS flabelId
        FROM
        course_label course
        LEFT JOIN label l ON course.label_id = l.label_id
        <where>
            1=1
            <if test="courseId != null">
                course_id=#{courseId}
            </if>
        </where>
    </select>

</mapper>