<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.handy.support.mapper.IHotMapper">
    <resultMap id="BaseResultMap" type="com.handy.support.entity.Hot">
        <constructor>
            <arg column="course_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
            <arg column="course_hot" javaType="java.lang.Integer" jdbcType="INTEGER" />
        </constructor>
    </resultMap>

        <sql id="Base_Column_List">
            course_id, course_hot
        </sql>

        <!--查询最热门n个教程-->
        <select id="listMax" resultType="com.handy.support.entity.Hot">
            SELECT
            course_id AS courseId,
            course_hot AS courseHot
            FROM
            hot
            ORDER BY course_hot DESC limit 0,#{n};
        </select>

</mapper>